locale: "en-AU"
title: Purr Programming
title_separator: "-"
subtitle: of coding and cats
name: "Pierre Fouilloux"
url: "https://blog.pierrefouilloux.com"
repository: "pfouilloux/purr-programming"

# Build settings
remote_theme: "mmistakes/minimal-mistakes@4.24.0"
minimal_mistakes_skin: "dark"
words_per_minute: 200

plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: false

# Reading Files
include:
  - .htaccess
  - _pages

# Site Author
author:
  name: "Pierre Fouilloux"
  avatar: # path of avatar image, e.g. "/assets/images/bio-photo.jpg"
  location: "Australia"
  email:
  links:
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/pfouilloux"
    - label: "GitLab"
      icon: "fab fa-fw fa-gitlab"
      url: "https://gitlab.com/pfouilloux"
    - label: "LinkedIn"
      icon: "fab fa-fw fa-linkedin"
      url: "https://au.linkedin.com/in/pierre-fouilloux-30b59239"

teaser: # path of fallback teaser image, e.g. "/assets/images/500x300.png"
logo: # path of logo image to display in the masthead, e.g. "/assets/images/88x88.png"

# Site Footer
footer:
  links:
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/pfouilloux"
    - label: "GitLab"
      icon: "fab fa-fw fa-gitlab"
      url: "https://gitlab.com/pfouilloux"
    - label: "LinkedIn"
      icon: "fab fa-fw fa-linkedin"
      url: "https://au.linkedin.com/in/pierre-fouilloux-30b59239"

comments:
  provider: "giscus"
  giscus:
    repo_id: "MDEwOlJlcG9zaXRvcnkzODczMjg0NDM="
    category_name: "General"
    category_id: "DIC_kwDOFxYpu84B-o48"
    discussion_term: "pathname"
    reactions_enabled: '1'
    theme: "transparent_dark"
reCaptcha: # TODO: Evaluate how to do thins properly (with legal and whatnot)
  siteKey:
  secret:
atom_feed:
  path: # blank (default) uses feed.xml
  hide: # true, false (default)
search: # true, false (default)
search_full_content: # true, false (default)
search_provider: # lunr (default), algolia, google
algolia:
  application_id: # YOUR_APPLICATION_ID
  index_name: # YOUR_INDEX_NAME
  search_only_api_key: # YOUR_SEARCH_ONLY_API_KEY
  powered_by: # true (default), false
google:
  search_engine_id: # YOUR_SEARCH_ENGINE_ID
  instant_search: # false (default), true
# SEO Related
google_site_verification:
bing_site_verification:
yandex_site_verification:
naver_site_verification:

# Social Sharing TODO fill this
twitter:
  username:
facebook:
  username:
  app_id:
  publisher:
og_image: # Open Graph/Twitter default site image
# For specifying social profiles
# - https://developers.google.com/structured-data/customize/social-profiles
social:
  type: # Person or Organization (defaults to Person)
  name: # If the user or organization name differs from the site's name
  links: # An array of links to social media profiles

# Analytics TODO fill this
analytics:
  provider: false # false (default), "google", "google-universal", "google-gtag", "custom"
  google:
    tracking_id:
    anonymize_ip: # true, false (default)